*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
#video{
    text-align: center;
}
/*========================Modalidades======================= */
#modalities{
    display: flex;
    flex-direction: column;
}
.articleHeader{
    background-color: aliceblue;
    border-radius: 20px;
    text-align: center;
}
.articleHeader img{
    width: 40vw;
    border-radius: 20px;
}
#modalities ul{
    margin: 20px;
    list-style: none; 
    display: flex;
}
.card h3{
    border-radius: 20px;
    background-color: aquamarine;
}
.modalities{
    margin: 2px;
    padding: 3px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    width: 40vw;
}
.card p{
    padding: 20px;
}
/* .card :hover{
    margin: 2px;
    padding: 3px;
    border-radius: 20px;
    background-color: blue;
    text-align: center;
} */
/*========================Modalidades======================= */